/* Vision.css */
.text-element,
.image-element {
  opacity: 0;
  transform: translateY(20px);
}

.text-element.show,
.image-element.show {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
